.create{
    margin: 0 auto;
   width: 500px;
}

.manage-choices{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .manage-links{
        text-decoration: none;
        // border: 1px solid black;
        background-color: $color-theme;
        text-align: center;
        color: white;
        width: 250px;
        padding: 10px 20px;
        margin-bottom: 1rem;
        transition: 0.3s ease-in-out;
        &:hover{
            background-color: $color-dark;
        }
    }
}

.added-products{
    ._card{
        ._card-menu{
            display: none;
        }
        .button-theme{
            display: none;
        }
    }
}

.update-products{
    margin-top: 2rem;
    h3{
        text-align: center;
    }
    label{
        font-weight: 500;
    }

    .button-theme{
        width: 100%;
    }
}
.update-info{
    display: flex;
    justify-content: center;
    ._card{
        width: 250px;
        ._card-menu{
            display: none;
        }
        .button-theme{
            display: none;
        }
    }
}


